#img-bg{
    background-image: url('https://i.pinimg.com/564x/ab/9c/78/ab9c78835441a1a5357e5bf1775056f0.jpg');

    min-height: 625px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mr-10 {
    margin-right: 10px;
}